@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<h4>Associate your @ViewData["LoginProvider"] account.</h4>
<hr />

<p>
    You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<form asp-action="ExternalLoginConfirmation"
      asp-route-returnurl="@ViewData["ReturnUrl"]"
      method="post">

    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="FullName"></label>
        <input asp-for="FullName" />
        <span asp-validation-for="FullName"></span>
    </div>

    <button type="submit">Register</button>

</form>
